*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-arriba{
    color: rgba(0, 0, 0, 0.646);
    font-size: 16px;
    padding: 0 20px;
    width: 100%;
    height: 50%;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}
#logo{
    color: black;
}

.box-search2{
    width: 22em;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(211, 211, 211);
}

.box-search2 input{
    height: 100%;
    width: 80%;
    border: none;
    padding-left: 30px;
    background-color: transparent;
}
.box-search input::placeholder{
    color: rgba(0, 0, 0, 0.519);
    font-size: 16px;
}

.box-search2 i{
    font-size: 18px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    /* padding: 0 40px; */
}

.nav-abajo{
    width: 100%;
    height: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-abajo ul{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}

.nav-abajo ul li{
    font-size: 16px;
    list-style: none;
    color: rgba(0, 0, 0, 0.646);
}










.portada{
    width: 100%;
    height: 83%;
    margin-top: 110px;
    display: flex;
}

.sidebar{
    width: 6%;
    background-color: rgb(31, 31, 31);
}

.portada-sin-sidebar{
    width: 94%;
    height: 100%;
}

.imagen-fondo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    /* position: relative; */
    /* z-index: -1; */
}

.box-search-marca{
    /* margin-left: 13em; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 27em;
    height: 230px;
    margin-top: 40px;
}
.box-search-marca h1{
    font-size: 6em;
    color: white;
    padding-bottom: 5px;
}
.box-search-marca p{
    color: white;
    padding-bottom: 25px;
}

.box-search{
    /* position: absolute; */
    /* margin-top: 200px; */
    width: 27em;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.834);
}

.box-search input{
    height: 100%;
    width: 80%;
    border: none;
    padding-left: 30px;
    background-color: transparent;
}
.box-search input::placeholder{
    color: rgba(0, 0, 0, 0.519);
    font-size: 18px;
}

.box-search i{
    font-size: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    /* padding: 0 40px; */
}
















.main{
    width: 100%;
    padding: 5% 6px 5% 6%;
    display: flex;
}

.box-img{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.blocks{
    width: 100%;
    padding: 6px;
}

.blocks img{
    object-fit: contain;
    width: 100%;
}